<div>
    <!-- <script type="text/javascript">
      FreshWidget.init("", {"queryString": "&widgetType=popup&formTitle=Help+%26+Support&submitTitle=Send+Feedback&submitThanks=Thank+you+for+your+feedback.&captcha=yes&searchArea=no", "backgroundImage": "https://s3.amazonaws.com/assets.freshdesk.com/widget/help-button.png", "utf8": "✓", "widgetType": "popup", "buttonType": "image", "buttonText": "Support", "buttonColor": "white", "buttonBg": "#006063", "alignment": "2", "offset": "700px", "submitThanks": "Thank you for your feedback.", "formHeight": "500px", "captcha": "yes", "url": "https://codejudge.freshdesk.com", "loadOnEvent": "immediate"} );
    </script> -->
</div>