.badge {
    border-radius: $border-radius-label;
    padding: 5px 12px;
    text-transform: uppercase;
    font-size: 10px;
    color: $white-color;

    @include badge-color();
}

.badge-large {
    font-size: 15px;
}

.badge-large-xs {
    font-size: 20px;
}

.badge-large-xss {
    font-size: 22px;
}